          <div class="jumbotron mt-3">
            <h1>Routes</h1>
            <p class="lead">List the available routes. You can fetch this data by querying routes.txt.</p>
            <a class="btn btn-lg btn-primary" href="#" role="button" onclick="ca.render('routes');">View This Example</a>
          </div>

          <div class="jumbotron mt-3">
            <h1>Trips</h1>
            <p class="lead">List the trips for a specified route. You can fetch this data by querying trips.txt.</p>
            <a class="btn btn-lg btn-primary" href="#" role="button" onclick="ca.render('trips');">View This Example</a>
          </div>

          <div class="jumbotron mt-3">
            <h1>Stops</h1>
            <p class="lead">List the stops for a specified trip. You can fetch this data by querying trips.txt and shapes.txt.</p>
            <a class="btn btn-lg btn-primary" href="#" role="button" onclick="ca.render('stops');">View This Example</a>
          </div>

          <div class="jumbotron mt-3">
            <h1>Location Finder (Extra Credit)</h1>
            <p class="lead">List the routes that stop near a location. Specify the location using latitude and longitude. You can fetch this data by querying stops.txt, stop_times.txt, and trips.txt.</p>
            <a class="btn btn-lg btn-primary" href="#" role="button" onclick="ca.render('locationfinder');">View This Example</a>
          </div>

          <div class="jumbotron mt-3">
            <h1>Next Five Trips (Extra Credit)</h1>
            <p class="lead">List the next five trips arriving at a particular stop. Specify the stop_id and time. You can fetch this data by querying stops.txt, stop_times.txt, and trips.txt.</p>
            <a class="btn btn-lg btn-primary" href="#" role="button" onclick="ca.render('nextfivetrips');">View This Example</a>
          </div>