          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
            <h1 class="h2">Stops</h1>

            <div class="btn-toolbar mb-2 mb-md-0">
            	<select id="stops-sample-trips">
      				  <option value="0">Select a sample item</option> 
      				</select>
			        <input type="text" id="stops-tripid" placeholder="Or enter a trip id here..." /> 
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary" onclick="ca.stopsGo();">Go</button>
              </div>
            </div>
          </div>


          <div id="status-gathering-data" class='status-message '>
              Gathering data, please wait.
          </div>

          <div id="status-select-message" class='status-message sm-gathering'>
              Select item from samples list, or enter trip id. Then click Go.
          </div>


          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>shape_id</th>
                  <th>shape_pt_lat</th>
                  <th>shape_pt_lon</th>
                  <th>shape_pt_sequence</th>
                  <th>shape_dist_traveled</th>
                </tr>
              </thead>
              <tbody id="results">
              </tbody>
            </table>
          </div>

          <div class='status-message'>
              To ensure performance, the output of this exercise is limited to 40 entries.
          </div>

          <script>
          	$(document).ready(function() {
          		ca.stopsInitialize();
          	})
          </script>